{% extends 'base.html.twig' %}

{% block title %}Moje Konto{% endblock %}

{% block body %}
    {% if message == 1 %}
    <form action={{ url('upload') }} method="POST" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload Image" name="submit">
        <br>
        {%  for sciezka in tablica_zdjec[2:] %}
            <img src="{{ asset(sciezka) }}" width="500px" >
        {%  endfor %}
    </form>
    {% else %}
        <h3>nie jestes zalogowany, najpierw zaloguj sie <a href={{ path('app_login') }}>tutaj</a></h3>
    {% endif %}
{% endblock %}